<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xing.wlxt.contractExtProduct.dao.ContractExtProductMapper">
   
   <resultMap type="com.xing.wlxt.contractExtProduct.entity.ContractExtProduct" id="ContractExtProductRM">
   	    <id property="id" column="EXT_CPRODUCT_ID" jdbcType="VARCHAR"/>
   	    <result property="factoryID" column="FACTORY_ID" jdbcType="VARCHAR"/>
   	    <result property="contractProductID" column="CONTRACT_PRODUCT_ID" jdbcType="VARCHAR"/>
		<result property="factoryNA" column="FACTORY_NA" jdbcType="INTEGER"/>
		<result property="ctype" column="CTYPE" jdbcType="INTEGER"/>
		<result property="productNo" column="EXT_PRODUCT_NO" jdbcType="VARCHAR"/>
		<result property="productImage" column="EXT_PRODUCT_IMAGE" jdbcType="VARCHAR"/>
		<result property="productDesc" column="EXT_PRODUCT_DESC" jdbcType="VARCHAR"/>
		<result property="cNumber" column="EXT_CNUMBER" jdbcType="INTEGER"/>
		<result property="packingUnit" column="EXT_PACKING_UNIT" jdbcType="VARCHAR"/>
		<result property="price" column="EXT_PRICE" jdbcType="DOUBLE"/>
		<result property="amount" column="EXT_AMOUNT" jdbcType="DOUBLE"/>
		<result property="productRequest" column="PRODUCT_REQUEST" jdbcType="VARCHAR"/>
		<result property="orderNo" column="EXT_ORDER_NO" jdbcType="INTEGER"/>
   	
   </resultMap>
   
   <!-- 根据购销合同的id来删除附件信息 -->
   <delete id="delete">
   		delete from ext_cproduct_c ecp
 			where ecp.contract_product_id in
       (
       		 select cp.contract_product_id from contract_product_c cp  where cp.contract_id in
       		<foreach collection="ids" open="(" close=")" separator="," item="id">
       			#{id}
       		</foreach>
       )
   </delete>
   
   <!-- 根据货物id来删除该货物下的附件信息 -->
   <delete id="deleteExtByContractProductId" >
   		delete from ext_cproduct_c where contract_product_id in 
   		<foreach collection="ids" open="(" close=")" item="id" separator=",">
   			#{id}
   		</foreach>
   </delete>
   
   
   <!-- 根据货物id来获取该货物下的附件集合 -->
   <select id="findExtByProductId" parameterType="String" resultMap="ContractExtProductRM">
   		select * from ext_cproduct_c where contract_product_id=#{contractProductID}
   </select>
</mapper>