<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xing.wlxt.exportExtProduct.dao.ExportExtProductMapper">
   
   
   <!-- 根据报运id来删除报运下的附件信息 -->
   <delete id="deleteByExportId">
   		delete from EXT_EPRODUCT_C
 		where EXPORT_PRODUCT_ID in
       (
       	select export_product_id from export_product_c where export_id in
       	<foreach collection="ids" open="(" close=")" separator="," item="id">
       		#{id}
       	</foreach>
       )
   </delete>
   
   <!-- 新增报运下所属货物的附件信息 -->
   <insert id="insert" parameterType="com.xing.wlxt.exportExtProduct.entity.ExportExtProduct">
   		insert into EXT_EPRODUCT_C(EXT_EPRODUCT_ID,EXPORT_PRODUCT_ID,FACTORY_ID,FACTORY_NA,CTYPE,
   								PRODUCT_NO,PRODCUT_IMAGE,PRODUCT_DESC,CNUMBER,PRACKING_NUIT,AMOUNT,
   								PRODUCT_REQUEST,ORDER_NO)
   		values
   		(
   			#{id,jdbcType=VARCHAR},
   			#{exportProductID,jdbcType=VARCHAR},
   			#{factoryID,jdbcType=VARCHAR},
   			#{factoryNA,jdbcType=VARCHAR},
   			#{cType,jdbcType=INTEGER},
   			#{productNo,jdbcType=VARCHAR},
   			#{productImage,jdbcType=VARCHAR},
   			#{productDesc,jdbcType=VARCHAR},
   			#{cNumber,jdbcType=INTEGER},
   			#{prackingNuit,jdbcType=VARCHAR},
   			#{amount,jdbcType=VARCHAR},
   			#{productRequest,jdbcType=VARCHAR},
   			#{orderNO,jdbcType=INTEGER}
   		)
   </insert>
</mapper>